* {
    margin: 0px;
    padding: 0px;
}


.contenedor {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "cont1 cont1 cont2 cont2"
    "cont1 cont1 cont2 cont2"
    "footer footer footer footer";
}



nav {
    grid-area: nav;
    background-color: aqua;
}

main {
    grid-area: main;
    background-color: aquamarine;
}

.contenido1 {
    grid-area: cont1;
    background-color: azure;
}

.contenido2 {
    grid-area: cont2;
    background-color: aqua;
}

footer { 
    grid-area: footer;
    background-color: aliceblue;
}

nav {
    display: flex;

    .navbarBarra {
        display: flex;
        flex-direction: row;

        .navbarBarraLogo {
            display: flex;
            align-items: center;
            margin-left: 20px;
        }

        ul {
            list-style: none;
            width: 100vw;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-evenly;
            li {
                display: flex;

                a {
                    text-decoration: none;
                    background-color: red;
                    height: 10px;
                    display: flex;
                    align-items: center;

                
        }}}}}